@import "tailwindcss";

:root {
  --background: #7B8794;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-gochi: var(--font-gochi-hand);
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* =========================================
   MENU TRIGGER LINES
========================================= */

.menu-line-left,
.menu-line-right {
  height: 2px;
  width: 44px;
  display: block;
}

/* links: spitz → voll → weich */
.menu-line-left {
  background: linear-gradient(
          to right,
          transparent 0%,
          rgba(255,255,255,0.6) 30%,
          rgba(255,255,255,1) 70%,
          rgba(255,255,255,1) 100%
  );
}

/* rechts: voll → weich → spitz */
.menu-line-right {
  background: linear-gradient(
          to right,
          rgba(255,255,255,1) 0%,
          rgba(255,255,255,1) 30%,
          rgba(255,255,255,0.6) 70%,
          transparent 100%
  );
}