@import "tailwindcss";

:root {
  --background: #7B8794;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-gochi: var(--font-gochi-hand);
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

body {
  background: var(--background);
  color: var(--foreground);
}
